  /*------------------------------------*\
    #HEADER
  \*------------------------------------*/
  
  header {
    position: fixed;
    width: 100%;
    padding: 1.2rem 0.5rem;
    background-color: #fff;
    z-index: 9999;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
  }
   
  /*------------------------------------*\
    #BODY
  \*------------------------------------*/
  
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Baskerville", sans-serif;
    font-size: 0.8rem;
    background-color: #F5F5F5;
    overflow-x: hidden;
  }

  .checkout__form {
    display: grid;
    align-items: center;
    background-color: #FFF;
    height: 70%;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 0.2rem;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    cursor: default;
    box-shadow: 0 0.5rem 1rem 0.5rem rgb(0 0 0 / 20%);
  }

  .checkout__form-container {
    display: flex;
    align-items: center;
    width: 90%;
    height: 20%;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .checkout__form-image-container {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    margin-right: 2rem;
    max-width: 7rem;
    border-radius: 0.3rem;
    overflow: hidden;
  }

  .checkout__form-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .checkout__form-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer__checkout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: #223263;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: default;
}

.terms {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.social {
  display: flex;
  gap: 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
}
  
  