html {
  /* font-size for 1rem = 10px */
  font-size: 70%;

  @include respond(tab-land) {
    font-size: 50%;
  }

  @include respond(tab-port) {
    font-size: 40%;
  }
}

/*------------------------------------*\
 #HEADER
\*------------------------------------*/

header {
  position: fixed;
  width: 100%;
  padding: 1.2rem 0.5rem;
  background-color: #fff;
  z-index: 9999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
}

.navbar__icon-image {
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  margin-right: 1rem;
  color: #333;
}

.navbar__products-in-cart {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -3px;
  right: 5px;
  width: 1rem;
  height: 1rem;
  font-weight: 800;
  background-color: #F84F31;
  color: #fff;
  border-radius: 50%;
  padding: 0.4rem;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.count__products-in-cart {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.count__hidden,
.products__hidden {
  display: none !important;
}

.checkout__no-products {
  position: absolute; 
  top: 45%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center; 
  font-size: 2rem; 
  opacity: 0.6;
}

.navbar__cart-link {
  position: relative;
  display: flex;
  align-items: center;
}

/*------------------------------------*\
  #BODY
\*------------------------------------*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 0.8rem;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.checkout__form {
  display: grid;
  align-items: center;
  background-color: #fff;
  height: 70%;
  width: 35%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0.2rem;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  cursor: default;
  box-shadow: 0 0.5rem 1rem 0.5rem rgb(0 0 0 / 20%);
}

.checkout__form-container {
  padding: 5%;
}

.checkout__items {
  display: flex;
  align-items: center;
  width: 90%;
  height: 20%;
  margin: 0 auto;
  padding: 2rem 0;
  border-bottom: 1px solid #d3d3d3;
}

.checkout__total {
  max-width: 90%;
  margin: 0 auto;
  position: sticky;
  bottom: 0;
  background: #fff;
}

.checkout__form-image-container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 2rem;
  max-width: 7rem;
  border-radius: 0.3rem;
  overflow: hidden;
}

.checkout__form-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.checkout__form-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout__remove-from-cart-icon {
  cursor: pointer;
  color: #7a151f;
  font-size: 2rem;
}

.product__details-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.product__details-price * {
  display: inline-block;
}

.product__price {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-right: 0.3rem;
  opacity: 0.7;
  gap: 2rem;
  margin-bottom: 0.8rem;
}

.product__price-after-discount {
  display: inline-block;
  padding-right: 1rem;
}

.product__price-before-discount {
  display: inline-block;
  text-decoration: line-through;
  opacity: 0.7;
  padding-right: 1rem;
}

.product__price-discount {
  color: #0a8200;
  display: inline-block;
}

.product__details-link, 
.product__details-link:link, 
.product__details-link:visited {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.checkout__remove-from-cart {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  gap: 1rem;
}

.checkout__total-price {
  display: flex;
  justify-content: space-between;
}

.total-text,
.total-price {
  font-size: 1rem;
}

.checkout__total-button {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

.button__go-to-payment {
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #0250c4;
  border: none;
  color: #fff;
  border-radius: 0.3rem;
  cursor: pointer;
}

.button__go-to-payment:hover {
  background-color: #0343a3;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

/*------------------------------------*\
#FOOTER
\*------------------------------------*/

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: #223263;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: default;
}

.terms {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.social {
  display: flex;
  gap: 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
}

/*------------------------------------*\
  #RESPONSIVE
\*------------------------------------*/

@media (max-width: 1136px) {
  .checkout__form {
    width: 50%;
  }
}

@media (max-width: 624px) {
  .checkout__form {
    width: 85%;
  }

  .button__go-to-payment {
    min-width: 100%;
}
}
