/*------------------------------------*\
  #HEADER
\*------------------------------------*/

header {
  position: fixed;
  width: 100%;
  padding: 1.2rem 0.5rem;
  background-color: #fff;
  z-index: 9999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
}

/*------------------------------------*\
  #BODY
\*------------------------------------*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", sans-serif;
  font-size: 0.8rem;
  background-color: #F5F5F5;
  overflow-x: hidden;
}

.product__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 6rem;
  width: 90%;
  margin: 0 auto;
  gap: 4rem;
}

.product__details-carousel {
  display: grid;
  grid-template-columns: 0fr 1fr;
}

.product__details-images-small {
  display: grid;
  align-items: center;
  width: 10rem;
  height: 30rem;
}

.product__details-images-small * {
  max-width: 10rem;
  height: 7rem;
}

.carousel-slides {
  padding: 0.3rem;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0rem 0.5rem 1rem 0.5rem rgb(0 0 0 / 20%);
  border-radius: 0.5rem;
}

.selected-slide {
  transform: scale(1.2);
  box-shadow: 0 1rem 2rem 1rem rgb(0 0 0 / 20%);
}

.product__details-image-large {
  display: flex;
  justify-content: center;
  background-color: #333;
  max-width: 70rem;
  height: 35rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.5rem 1rem 0.5rem rgb(0 0 0 / 20%);
  overflow: hidden;
}

.product__details-image-large .carousel-slide-large {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.product__similar {
  width: 90%;
  margin: 0 auto;
  padding: 6rem 0;
}

.product__similar-title h3 {
  display: block;
  font-size: 2 rem;
  font-weight: bold;
}

.product__similar-container {
  display: flex;
  justify-content: space-between;
}

.product__similar-card {
  position: relative;
  background-color: #fff;
  border-radius: 0.3rem;
  overflow: hidden;
  width: 19rem;
  height: 26rem;
  box-shadow: 0rem 0.5rem 1rem 0.5rem rgb(0 0 0 / 20%);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product__similar-card-link {
  text-decoration: none;
  color: inherit;
}

.product__details-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 1.2rem 0;
}

.product__brand,
.product__rating,
.product__price,
.product__category,
.product__seller,
.product__description,
.product__stock {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-right: 0.3rem;
  opacity: 0.7;
  gap: 2rem;
  margin-bottom: 0.8rem;
}

.product__details-brand *,
.product__details-category *,
.product__details-seller *,
.product__details-description *,
.product__details-stock *,
.product__details-rating *,
.product__details-price * {
  display: inline-block;
}

.product__price-after-discount {
  padding-right: 1rem;
}

.product__price-before-discount {
  text-decoration: line-through;
  opacity: 0.7;
  padding-right: 1rem;
}

.product__price-discount {
  color: #0A8200;
}

.product__similar-card-image {
  overflow: hidden;
  height: 13rem;
}

.product__similar-card-details {
  padding: 1rem;
}

.product__similar-card-image::before{
  position: absolute;
  top: 50%;
  font-family: sans-serif;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "CLICK FOR DETAILS";
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
  color: #FFF;
  background-color: #333;
  z-index: 3;
}

.product__details-full-title h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.button__add-to-cart--small {
  text-align: center;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #0250c4;
  color: #fff;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.2s ease-in-out;
}

.button__add-to-cart--small:hover {
  background-color: #0343a3;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

footer {
  display: flex;
  background-color: #223263;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  cursor: default;
}

.terms {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.social {
  display: flex;
  gap: 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
}
/*------------------------------------*\
  #RESPONSIVE
\*------------------------------------*/

@media (max-width: 1280px)  {
  .product__details {
    grid-template-columns: 1fr;
}

.product__details-carousel {
  display: flex;
  flex-direction: column-reverse;
}

.product__details-images-small {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  width: 100%;
  height: auto;
}

.product__details-images-small * {
  max-width: 7rem;
  height: 5rem;
}

.product__similar-container {
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
}

@media (max-width: 1136px) {
  .product__catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 624px) {
  .product__catalog {
    grid-template-columns: 1fr;
  }

  .navbar__search {
    max-width: 15rem;
  }
}
